[Unit]
Description=uWSGI instance to serve myproject
After=network.target

[Service]
User=sammy
Group=www-data
WorkingDirectory=/var/www/markk_service
Environment="PATH=/var/www/markk_service/venv/bin"
ExecStart=/var/www/markk_service/venv/bin/uwsgi --ini webapp.ini

[Install]
WantedBy=multi-user.target